@model UserAudioData

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body id="bd">
    <button onclick="document.getElementById('audioplayer').play();document.getElementById('audioplayer').pause();connect();style.display='none'">CONNECT</button>


    <audio id="audioplayer" preload="auto">
        <source type="audio/mpeg">
    </audio>

    <p id="trackShower"></p>

    <script>
        var socketAdress = "ws://176.194.213.92:8181/";
        var trackNumber = 0;

        //let test = new WebSocket(socketAdress);

        function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            document.getElementById("bd").style.background = getRandomColor();

            var socket;

            function connect() {
                socket = new WebSocket(socketAdress);

                


                socket.onmessage = function (event)
                {
                    document.getElementById("bd").style.background = getRandomColor();
                    if (event.data == "P") {
                        document.getElementById('audioplayer').play();
                    }
                    else if (event.data == "S") {
                        document.getElementById('audioplayer').currentTime = 0;
                    }
                    else if (event.data.startsWith('V=')) {
                        document.getElementById('audioplayer').volume = Number.parseInt(event.data.slice(2)) / 100;
                    }
                    else if (event.data.startsWith('Track=')) {
                        trackNumber = Number.parseInt(event.data.slice(6));
                        document.getElementById('audioplayer').setAttribute("src", "/" + trackNumber + ".mp3");
                        document.getElementById('trackShower').innerText = "/" + trackNumber + ".mp3";
                    }
                //alert(event.data);
            };
            }
    </script>
</body>

</html>